h1, header,main, footer{
	width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
	text-align: center;
}
header {padding-bottom:0.7em;clear:left;}

div.logo {width:700px;margin:auto;text-align:center;}
img.logoleft {
	float:left;
	text-align:left;
	width:24.142857142%;}
h1.logo{float:left;
		width:51.7142857142%;
		text-align:center;
		}
img.logoright{float:right;
	text-align:right;
	width:24.142857142%;}
/*LogoLeft + Logo + Logoright = 100% */

body {color:#f3d1a1;
		background-color:#6a4437;}
section, aside, article {text-align: left; margin-left: 5%; clear:left;}

ul.unternav {
	text-align:left;
	color:yellow;
}

ul.unternav a { text-decoration:none; color:#E88711;}
ul.unternav a:hover { text-decoration:none; color:#E84317;}
ul.unternav li {list-style: none;}

main h2 {margin-top:0.7em;}

div.spalten 		{height:18em;}
div.spalteLinks 	{float:left;
						width:66%;
						height:18em;}
div.spalteRechts {padding-top:1em;}

h2 {text-align:left;}

h3.infobox {padding-top:0.5em;}

.mainNav ol{
	display: inline-block;
	padding-left: 0px;
	text-align: center;
	margin-left: auto ;
  margin-right: auto ;
}

.mainNav ol li {
	float: left;
	list-style: none;
	color: #e3c191;
	background-color: #7a5447;
}

.mainNav ol li:first-child {
	border-radius: 5px 0px 0px 5px;
}

.mainNav ol li:last-child {
	border-radius: 0px 5px 5px 0px;
}

.mainNav ol li a {
	padding: 10px;
	color: #e3c191;
	font-size: 19px;
	text-decoration: none;
}

.mainNav ol li:hover a {
	color: #7a5447;
}

.mainNav ol li:hover {
	background-color: #e3c191;
}



.inforow > *{
	width: 50%;
	float: left;
}

.info * {
	clear: left;
	text-align: left;
}

.info ul {
 padding: 0px;
	list-style: none
}

.info p {
	padding-right: 20px;
}

.inforow >img{
	margin-top: 50px;
	border-radius: 20px;
}

#map-canvas {
	width: 100%;
	height: 400px;
}

h1{
	color: #e3c191;
	text-decoration: none;
}

.text {
	width: 40%;
	float: left;
	margin-right: 30px;
}

.text + img {
	width: 50%;
}

.row1 {
	background-color: #7a5447;
	padding-top: 1px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.row2 {
	background-color: #5a3427;
	padding-top: 1px;
	padding-left: 20px;
	padding-bottom: 20px;
}

footer> * {text-align: left;}

div.footerleft {float: left;
	width: 30%;
	}
div.footerright {float: right;
	width: 50%;
	}
div.footerright> p{float: left; margin-right: 30px}

a[href="mailto:mao@lin.bux"] {color: #E88711}
a[href="mailto:mao@lin.bux"]:hover {color: #E84317}

ul.nonlist {list-style: none; padding-left: 0px;}

footer {clear:both; margin-top: 20px; border-top: 5px solid; padding-top: 10px}

footer h3, footer ul, footer p {margin-top: 0px; margin-bottom: 0px;}