h1, header,main{
	width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
	text-align: center;
}
header {padding-bottom:0.7em;}

body {color:#f3d1a1;
		background-color:#6a4437;}
section, aside, article {text-align: left; margin-left: 5%; clear:left;}

ul.unternav {
	text-align:left;
	color:yellow;
}

ul.unternav a { text-decoration:none; color:#E88711;}
ul.unternav a:hover { text-decoration:none; color:#E84317;}

main h2 {margin-top:0.7em;}

div.spalten 		{height:18em;}
div.spalteLinks 	{float:left;
						width:66%;
						height:18em;}
div.spalteRechts {padding-top:1em;}

h2 {text-align:left;}

h3.infobox {padding-top:0.5em;}

.mainNav ol li {
	float: left;
	list-style: none;
	color: #e3c191;
	background-color: #7a5447;
}

.mainNav ol li a {
	padding: 10px;
	color: #e3c191;
	font-size: larger;
	text-decoration: none;
}

.mainNav ol li:hover a {
	color: #7a5447;
}

.mainNav ol li:hover {
	background-color: #e3c191;
}



